
    .ttb-color-light-grey {
      background-color: #f3f3f3 !important;
    }

    .ttb-color-light-grey-text {
      color: #f3f3f3 !important;
    }

    .ttb-color-dark-grey {
      background-color: #5d5d5d !important;
    }

    .ttb-color-dark-grey-text {
      color: #5d5d5d !important;
    }

    .ttb-color-dark-grey-text label {
      color: #5d5d5d !important;
    }

    .ttb-color-dark-grey-text input {
      color: #5d5d5d !important;
    }

    .ttb-color-dark-grey-text .dropdown-content li>a,.ttb-color-dark-grey-text .dropdown-content li>span {
      color: #5d5d5d !important;
    }

    .ttb-color-dark-grey-text [type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
      border-color: #5d5d5d !important;
      border-width: 1px;
    }

    .ttb-color-purple {
      background-color: #e5007f !important;
    }

    .ttb-color-orange {
      background-color: #ff330e !important;
    }
    .ttb-color-orange:hover {
      background-color: #ff5332 !important;
    }

    .ttb-color-green {
      background-color: #80ff00 !important;
    }

    .ttb-color-white {
      background-color: rgba(55, 55, 55, 0.65);
    }
    .ttb-color-white:hover {
      background-color: rgba(75, 75, 75, 0.65);
    }

    /* scrollbar redefinition start */
    /* width */
    .scrollbar_s1::-webkit-scrollbar {
      height: 8px;
    }

    /* Track */
    .scrollbar_s1::-webkit-scrollbar-track {
      background: #ee6e73;
    }

    /* Handle */
    .scrollbar_s1::-webkit-scrollbar-thumb {
      background: #888;
    }

    /* Handle on hover */
    .scrollbar_s1::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    /* scrollbar redefinition end */

    .main {
      margin: 16px;
    }

    nav .brand-logo{
      color: #5d5d5d !important;
    }

    .tab > .navtab {
      color: #a1a1a1 !important;
    }

    .tab:not(.disabled) > .navtab {
      color: #5d5d5d !important;
    }

    .tabs .tab a:focus, .tabs .tab a:focus.active {
      background-color: rgba(68,68,68,0.1)
    }

    .tabs .tab a:focus, .tabs .tab a:focus.disabled  {
      background-color: rgba(68,68,68,0)
    }

    [type="checkbox"].filled-in:checked+span:not(.lever):after {
      border-color: #a1a1a1 !important;
      background-color: #a1a1a1 !important;
    }

    [type="checkbox"].filled-in:checked+span:not(.lever):before {
      border-right-color: #80ff00 !important;
      border-bottom-color: #80ff00 !important;
    }

    input.valid:not([type]), input.valid:not([type]):focus, input.valid[type=text]:not(.browser-default), input.valid[type=text]:not(.browser-default):focus, input.valid[type=password]:not(.browser-default), input.valid[type=password]:not(.browser-default):focus, input.valid[type=email]:not(.browser-default), input.valid[type=email]:not(.browser-default):focus, input.valid[type=url]:not(.browser-default), input.valid[type=url]:not(.browser-default):focus, input.valid[type=time]:not(.browser-default), input.valid[type=time]:not(.browser-default):focus, input.valid[type=date]:not(.browser-default), input.valid[type=date]:not(.browser-default):focus, input.valid[type=datetime]:not(.browser-default), input.valid[type=datetime]:not(.browser-default):focus, input.valid[type=datetime-local]:not(.browser-default), input.valid[type=datetime-local]:not(.browser-default):focus, input.valid[type=tel]:not(.browser-default), input.valid[type=tel]:not(.browser-default):focus, input.valid[type=number]:not(.browser-default), input.valid[type=number]:not(.browser-default):focus, input.valid[type=search]:not(.browser-default), input.valid[type=search]:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid>input.select-dropdown {
      border-bottom: 1px solid #a1a1a1 !important;
      -webkit-box-shadow: 0 1px 0 0 #a1a1a1 !important;
      box-shadow: 0 1px 0 0 #a1a1a1 !important;
    }

    input.invalid:not([type]), input.invalid:not([type]):focus, input.invalid[type=text]:not(.browser-default), input.invalid[type=text]:not(.browser-default):focus, input.invalid[type=password]:not(.browser-default), input.invalid[type=password]:not(.browser-default):focus, input.invalid[type=email]:not(.browser-default), input.invalid[type=email]:not(.browser-default):focus, input.invalid[type=url]:not(.browser-default), input.invalid[type=url]:not(.browser-default):focus, input.invalid[type=time]:not(.browser-default), input.invalid[type=time]:not(.browser-default):focus, input.invalid[type=date]:not(.browser-default), input.invalid[type=date]:not(.browser-default):focus, input.invalid[type=datetime]:not(.browser-default), input.invalid[type=datetime]:not(.browser-default):focus, input.invalid[type=datetime-local]:not(.browser-default), input.invalid[type=datetime-local]:not(.browser-default):focus, input.invalid[type=tel]:not(.browser-default), input.invalid[type=tel]:not(.browser-default):focus, input.invalid[type=number]:not(.browser-default), input.invalid[type=number]:not(.browser-default):focus, input.invalid[type=search]:not(.browser-default), input.invalid[type=search]:not(.browser-default):focus, textarea.materialize-textarea.invalid, textarea.materialize-textarea.invalid:focus, .select-wrapper.invalid>input.select-dropdown, .select-wrapper.invalid>input.select-dropdown:focus {
      border-bottom: 1px solid #e5007f;
      -webkit-box-shadow: 0 1px 0 0 #e5007f;
      box-shadow: 0 1px 0 0 #e5007f;
    }

    input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
        border-bottom: 1px solid #e1e1e1;
        -webkit-box-shadow: 0 1px 0 0 #e1e1e1;
        box-shadow: 0 1px 0 0 #e1e1e1;
    }

    .select-wrapper input.select-dropdown:focus {
      border-bottom: 1px solid #a1a1a1;
    }

    .white-text label {
      color: #fff !important;
    }

    .white-text input {
      color: #fff !important;
    }

    .white-text [type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
      border-color: #fff !important;
      border-width: 1px;
    }

    .ignore-wrapper {
      position: absolute;
      top: 0;
      left: 0;
    }

    .ignore-wrapper:hover{
     cursor: pointer;
    }

    .displayable-60 {
      background-color: rgba(0, 0, 0, 0);
      height: 0px;
      display: none;
      transition: height 350ms ease-in-out, background-color 750ms ease-in-out;
    }

    .displayable-60.is-visible {
      background-color: rgba(0, 0, 0, 0.6);
      display: block;
      width: 100%;
      height: 100%;
    }

    .errors_wrapper {
      height: 0%;
      display: none;
      opacity: 0;
      transition: opacity 5s ease-out;
    }

    .errors_wrapper.is-visible {
      display: block;
      opacity: 1;
      height: 100%;
    }

    .errors_container {
      min-width: 400px;
    }

    footer .row, footer .col{
      padding: 0px !important;
      margin: 0px !important;
    }

    footer img {
      min-width: 400px;
      width: 100%;
      object-fit: contain;
    }

    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }

    .main {
      flex: 1 0 auto;
    }

    @media (max-width: 600px) {
      .errors_container {
        min-width: 200px;
      }

      footer img {
        min-width: 200px;
        width: 100%;
      }
    }
